<div class="container-home">
  <div class="container-controls">
    <header class=>
      WORKS CONTROLLER
    </header>
       
    <div class="header-control">
      Records
    </div>
    <div class="container-days" id="days-items">
      <li data-row-danger>Dia 15/05/2020 incompleto | 17:06 - 19:01 - 20:00 - ?????</li>
      <li data-row-good>Dia 15/05/2020 completo | 17:06 - 19:01 - 20:00 - 21:59</li>
    </div>

    <div class="container-record">
      <button id="btn-register">Registrar</button>
      <button id="btn-config">Configurar</button>
      <button id="btn-exit">Sair</button>
    </div>
  </div>
</div>
